<style>
BODY {
	FONT-SIZE: 20pt; FONT-FAMILY:Arial
}
A:visited {COLOR:linen; TEXT-DECORATION: none } 
A:active {COLOR:linen; TEXT-DECORATION: none } 
A:link {COLOR:linen; TEXT-DECORATION: none }
A:hover {COLOR:linen; TEXT-DECORATION: none font-size:10pt }

  
</style>